<app-header-section [behindText]="'QUI SUIS-JE ?'" [mainText]="'Présentation'"></app-header-section>
<p class="text-about-me">
    <strong>Développeur passionné</strong> depuis plusieurs années, <br>
    je suis actuellement étudiant en <strong>troisième année</strong> de <strong>BUT informatique</strong> à l'IUT des Cézeaux.<br>
    Mon objectif est de poursuivre mes études en écoles d'ingénieur<br>
    afin d'approfondir mes compétences en tant que développeur et d'acquérir<br>
    de nouvelles connaissances autour du domaine informatique.
    <br><br>
    Vous souhaitez avoir mon CV au format PDF c'est par ici.
</p>

<!-- Icon Sections -->
<div class="info-section">
    <div class="column-info-section">
        <h3>Titre </h3>
        <h3>Titre </h3>
        <h3>Titre </h3>
    </div>
    <div  class="column-info-section">
        <h3>Titre </h3>
        <h3>Titre </h3>
        <h3>Titre </h3>
    </div>
</div>
