<section class="section-presentation">
    <section id="accueil" class="section-presentation section-odd">
        <app-about-section></app-about-section>
    </section>
    <section id="presentation" class="section-presentation section-even">
        <app-about-section></app-about-section>
    </section>
    <section id="portfolio" class="section-presentation section-odd">
        <app-portfolio-section></app-portfolio-section>
    </section>
    <section id="competences" class="section-presentation section-even">
        <app-skills-section></app-skills-section>
    </section>
    <section id="contact" class="section-presentation section-odd">
        <app-contact-section></app-contact-section>
    </section>
    
</section>
